
<nav class="navbar-container">
  <ul class="ul-navbar">
  <li class="navbar-ul_li"><a class="ul-li_a" [routerLink]="['']">Home</a></li>
  <li class="navbar-ul_li"><a class="ul-li_a" [routerLink]="['/login']">Login</a></li>
  <li class="navbar-ul_li"><a class="ul-li_a" [routerLink]="['/products']">Products</a></li>
  <li class="navbar-ul_li"><a class="ul-li_a" [routerLink]="['/products/:id']">Detail</a></li>
  <li class="navbar-ul_li"><a class="ul-li_a" [routerLink]="['/register']">Register</a></li>
  <li class="navbar-ul_li"><a class="ul-li_a" [routerLink]="['/contact']">Contact</a></li>
</ul>
</nav>
